body {
  margin: 0;
  padding: 0;
  font-family: 'OpenDyslexic3';
  src: url(/portfolio/static/fonts/OpenDyslexic3-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  background-color: #bebebe;
  overflow-x: hidden;
}

.space {
  height: 20px;
}